<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}}</title>
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/show-hint.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/lint.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldgutter.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/dialog/dialog.css">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/theme/wide.css">

        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/js/lib/ztree/zTreeStyle.css">

        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/dialog.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/wide.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/side.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/start.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/about.css?{{.conf.StaticResourceVersion}}">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <!-- 主菜单 -->
        <div class="menu fn-clear">
            <ul class="fn-cleaer">
                <li>
                    <span>{{.i18n.file}}</span>
                    <div class="frame">
                        <ul>     
                            <li class="save-all disabled" onclick="wide.saveAllFiles()">
                                <span>{{.i18n.save_all_files}}</span>
                            </li>
                            <li class="close-all disabled" onclick="wide.closeAllFiles()">
                                <span>{{.i18n.close_all_files}}</span>
                            </li>
                            <li class="hr"></li>
                            <li onclick="wide.exit()">
                                <span>{{.i18n.exit}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <span>{{.i18n.run}}</span>
                    <div class="frame">
                        <ul>
                            <li class="run disabled" onclick="wide.build()">
                                <span>{{.i18n.build}}</span>
                            </li>
                            <li class="run disabled" onclick="wide.run()">
                                <span>{{.i18n.build_n_run}}</span>
                            </li>
                            <li class="hr"></li>
                            <li class="go-get disabled" onclick="wide.goget()">
                                <span>{{.i18n.goget}}</span>
                            </li>
                            <li class="go-install disabled" onclick="wide.goinstall()">
                                <span>{{.i18n.goinstall}}</span>
                            </li>      
                        </ul>
                    </div>
                </li>
                <!--
                <li>
                    <span>{{.i18n.debug}}</span>
                    <div class="frame">
                        <ul>
                            <li>
                                <span>{{.i18n.debug}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                -->
                <li>
                    <span>{{.i18n.help}}</span>
                    <div class="frame">
                        <ul>
                            <li onclick="window.open('https://www.gitbook.io/book/88250/wide-user-guide')">
                                <span>{{.i18n.wide_doc}}</span>
                            </li>                            
                            <li onclick="window.open('https://github.com/b3log/wide/issues/new')">
                                {{.i18n.report_issues}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="window.open('/keyboard_shortcuts')">
                                {{.i18n.keyboard_shortcuts}}
                            </li>
                            <li class="hr"></li>
                            <li onclick="editors.openStartPage()">
                                <span>{{.i18n.start_page}}</span>
                            </li>
                            <li onclick="wide.openAbout()">
                                <span>{{.i18n.about}}</span>
                            </li>
                        </ul>
                    </div>                    
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="side">
                <span title="{{.i18n.min}}" class="font-ico ico-min"></span>
                <div class="tabs">
                    <div class="current" data-index="filreTree">
                        <span title="{{.i18n.file}}">{{.i18n.file}}</span>
                    </div>
                </div> 
                <div class="tabs-panel">
                    <div data-index="filreTree">
                        <ul id="files" tabindex="-1" class="ztree"></ul>
                        <!-- 目录右键菜单 -->
                        <div id="dirRMenu" class="frame">
                            <ul>
                                <li onclick="tree.newFile();">{{.i18n.create_file}}</li>
                                <li onclick="tree.newDir();">{{.i18n.create_dir}}</li>
                                <li onclick="tree.removeIt();">{{.i18n.delete}}</li>
                            </ul>
                        </div>

                        <!-- 文件右键菜单 -->
                        <div id="fileRMenu" class="frame">
                            <ul>
                                <li onclick="tree.removeIt();">{{.i18n.delete}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="edit-panel">
                <div class="toolbars fn-none">
                    <span onclick="wide.run()" class="font-ico ico-buildrun" title="{{.i18n.build_n_run}}"></span>
                    <span onclick="wide.saveFile()" title="{{.i18n.save}}" class="font-ico ico-save"></span>
                    <span onclick="wide.fmt(editors.getCurrentPath(), wide.curEditor)" class="ico-format font-ico" title="{{.i18n.format}}"></span>
                    <span class="font-ico ico-max" onclick="windows.maxEditor()" title="{{.i18n.max_editor}}"></span>
                </div>
                <div class="tabs"></div>
                <div class="tabs-panel"></div>
            </div>

            <div class="bottom-window-group">
                <span title="{{.i18n.min}}" class="font-ico ico-min"></span>
                <div class="tabs">
                    <div class="current" data-index="output">
                        <span title="{{.i18n.output}}">{{.i18n.output}}</span>
                    </div>
                    <div data-index="search">
                        <span title="{{.i18n.search}}">{{.i18n.search}}</span>
                    </div>
                    <div data-index="notification">
                        <span title="{{.i18n.notification}}">{{.i18n.notification}}</span>
                    </div>
                </div>
                <div class="tabs-panel">
                    <div data-index="output">
                        <div class="output" tabindex="-1"><div></div></div>
                    </div>
                    <div class="fn-none" data-index="search">
                        <div tabindex="-1" class="search">
                            <div class="tabs fn-none">
                                <div class="current" data-index="first">
                                    <span class="first"></span><span class="ico-close font-ico"></span>
                                </div>
                            </div>
                            <div class="tabs-panel">
                                <div data-index="first"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fn-none" data-index="notification">
                        <div tabindex="-1" class="notification"><table cellpadding="0" cellspacing="0"></table></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer fn-clear">
            <div class="fn-left">
                <span title="{{.i18n.restore_side}}" class="font-ico ico-restore fn-none"></span>
                <span title="{{.i18n.restore_bottom}}" class="font-ico ico-restore fn-none"></span>
            </div>
            <div class="fn-right">
                <span class="cursor"></span>
                <span class="notification-count" title="{{.i18n.unread_notification}}">{{.i18n.notification}}</span>
            </div>
        </div>

        <div id="dialogRemoveConfirm" class="fn-none">
            {{.i18n.isDelete}} <b></b>?
        </div>
        <div id="dialogAlert" class="fn-none"></div>
        <div id="dialogAbout" class="fn-none"></div>
        <div id="dialogNewFilePrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogNewDirPrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogGoLinePrompt" class="dialog-prompt fn-none">
            <input/>
        </div>
        <div id="dialogSearchForm" class="dialog-form fn-none">
            <input placeholder="{{.i18n.keyword}}" />
            <input placeholder="{{.i18n.file_format}}" />
        </div>
        <script>
                    var config = {
                    "pathSeparator": {{.pathSeparator}},
                            "latestSessionContent": {{.latestSessionContent}},
                            "label": {
                            "restore_editor": "{{.i18n.restore_editor}}",
                                    "max_editor": "{{.i18n.max_editor}}",
                                    "delete": "{{.i18n.delete}}",
                                    "cancel": "{{.i18n.cancel}}",
                                    "goto_line": "{{.i18n.goto_line}}",
                                    "go": "{{.i18n.go}}",
                                    "create": "{{.i18n.create}}",
                                    "create_file": "{{.i18n.create_file}}",
                                    "create_dir": "{{.i18n.create_dir}}",
                                    "tip": "{{.i18n.tip}}",
                                    "confirm": "{{.i18n.confirm}}",
                                    "build_n_run": "{{.i18n.build_n_run}}",
                                    "stop": "{{.i18n.stop}}",
                                    "find_usages": "{{.i18n.find_usages}}",
                                    "search_text": "{{.i18n.search_text}}",
                                    "search": "{{.i18n.search}}",
                                    "start_page": "{{.i18n.start_page}}",
                                    "confirm_save": "{{.i18n.confirm_save}}",
                                    "community": "{{.i18n.community}}",
                                    "about": "{{.i18n.about}}",
                                    "new_version_available": "{{.i18n.new_version_available}}",
                                    "colon": "{{.i18n.colon}}",
                                    "uptodate": "{{.i18n.uptodate}}"
                            },
                            "channel": {
                            "editor": '{{.conf.EditorChannel}}',
                                    "shell": '{{.conf.ShellChannel}}',
                                    "output": '{{.conf.OutputChannel}}',
                                    "session": '{{.conf.SessionChannel}}'
                            },
                            "wideSessionId": '{{.session.Id}}'
                    };
                    // 发往 Wide 的所有 AJAX 请求需要使用该函数创建请求参数.
                            function newWideRequest() {
                            var ret = {
                            sid: config.wideSessionId
                            }
                            return ret;
                            }

        </script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/reconnecting-websocket.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/ztree/jquery.ztree.all-3.5.min.js"></script>                

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/codemirror.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/lint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/lint/json-lint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/selection/active-line.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/overwrite/codemirror-4.5/addon/hint/show-hint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/hint/anyword-hint.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/display/rulers.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/closebrackets.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/matchbrackets.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/edit/closetag.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/search/searchcursor.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/search/search.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/dialog/dialog.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/search/match-highlighter.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldcode.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/foldgutter.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/brace-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/xml-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/markdown-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/addon/fold/comment-fold.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/go/go.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/xml/xml.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/htmlmixed/htmlmixed.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/markdown/markdown.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/css/css.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/shell/shell.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/codemirror-4.5/mode/sql/sql.js"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/lint/json-lint.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/lint/go-lint.js?{{.conf.StaticResourceVersion}}"></script>

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/tabs.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/dialog.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/editors.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/notification.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/tree.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/wide.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/session.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/menu.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/windows.js?{{.conf.StaticResourceVersion}}"></script>
        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/hotkeys.js?{{.conf.StaticResourceVersion}}"></script>
    </body>
</html>
