<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.i18n.wide}} - {{.i18n.login}}</title>
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/base.css?{{.conf.StaticResourceVersion}}">
        <link rel="stylesheet" href="{{.conf.StaticServer}}/static/css/login.css?{{.conf.StaticResourceVersion}}">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div class="header">
            <div class="wrapper fn-clear">
                <a href="/login">
                    <img src="{{.conf.StaticServer}}/static/images/wide-logo.png" 
                         class="logo"/></a>
                <ul class="fn-right">
                    <li><a href="https://github.com/b3log/wide" target="_blank">GitHub</a></li>
                    <li><a href="https://www.gitbook.io/book/88250/wide-user-guide" target="_blank">{{.i18n.help}}</a></li>
                    <li><a href="https://github.com/b3log/wide/issues/new" target="_blank">{{.i18n.report_issues}}</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="wrapper fn-clear">
                <div class="fn-left">
                    <h2>Hello, 世界</h2>
                    <h3>Coding with Go on the Wide way.</h3>
                </div>
                <div class="form fn-right">
                    <div id="msg" class="fn-none"></div>
                    <input id="username" placeholder="Username"/><br/>
                    <input id="password" type="password" placeholder="Password"/><br/>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                Ver {{.ver}}, &copy; 2014 <a href="http://b3log.org" target="_blank">B3LOG.ORG</a>
            </div>
        </div>

        <script type="text/javascript" src="{{.conf.StaticServer}}/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
(function () {
    var contentH = $(window).height() - $(".footer").height() - $(".header").height() - 18;
    $(".content").height(contentH)
            .css("padding-top", (contentH - $(".content .fn-left").height()) / 2 + "px");

    var login = function () {
        var request = {
            username: $("#username").val(),
            password: $("#password").val()
        };
        $.ajax({
            type: 'POST',
            url: '/login',
            data: JSON.stringify(request),
            dataType: "json",
            success: function (data) {
                if (!data.succ) {
                    $("#msg").text('{{.i18n.login_failed}}').show();
                    return;
                }

                window.location.href = "/";
            }
        });
    };

    $("#username").keydown(function (event) {
        if (event.which === 13) {
            if ($.trim($(this).val()) === "") {
                $("#msg").text("{{.i18n.login_failed}}").show();
            } else {
                $("#password").focus();
            }
        } else {
            $("#msg").hide();
        }
    }).focus();


    $("#password").keydown(function (event) {
        if (event.which === 13) {
            if ($.trim($(this).val()) === "") {
                $("#msg").text("{{.i18n.login_failed}}").show();
            } else {
                login();
            }
        } else {
            $("#msg").hide();
        }
    });
})();
        </script>        
    </body>
</html>
